# Bybit API Keys. Copy this file to .env and fill in your keys.
# IMPORTANT: Add .env to your .gitignore file to keep your keys private.

# Set to "true" for testnet, "false" for mainnet
TESTNET="true"

# Testnet Keys
BYBIT_API_KEY_TESTNET="YOUR_TESTNET_API_KEY"
BYBIT_API_SECRET_TESTNET="YOUR_TESTNET_API_SECRET"

# Mainnet Keys
BYBIT_API_KEY_MAINNET="YOUR_MAINNET_API_KEY"
BYBIT_API_SECRET_MAINNET="YOUR_MAINNET_API_SECRET"
