# Ignorar ambientes virtuais
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc

# Banco de dados SQLite (se não quiser versionar)
*.db

# VSCode configs
.vscode/

# Ignorar diretório de compilação da TA-Lib
ta-lib/
ta-lib-*.tar.gz
ta-lib-install/
